
<% @articles.each do |article| %>
  <h2><%= article.title %></h2>
  <p><%= article.description %></p>
  <p><%= article.ratings %></p>
<%= link_to "Delete", article_path(article),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
<%= link_to "Update", article_path(article),
  data: { confirm: "Are you sure?" } %>
<% end %>


